a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar-brand{
    width: 5%;
    border-radius: 50%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link{
    border: 0;
    transition: all .6s;
}
.nav-link:hover{
    border-bottom: 1px solid red;
}
.layout-nav{
    background-color: rgba(0, 0, 0, 0.6);
   
}
#home{
    background-image: url(../images/home.jpeg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#home .layout{
    background-color: rgba(0, 0, 0, 0.6);
    height: 89%;
    width: 100%;
    overflow: hidden;
}

.homeText .a-btn{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0.5rem 1.3rem;
    transition: all 0.4s;
}

.homeText .a-btn:hover{
    background-color: #FF4858;
    border:1px solid #FF4858;
}
.item{
    background-color: #fff3f3;
    height: 95%;
    border-radius: 20px;
}

.item:hover{
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);
}

#goals{
    background-color: #f7f7f7;
}

.goals-dts .images .caption{
    background-color: rgba(226, 0, 0, 0.7);
    top:100%;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: all .6s;
}
.goals-dts .images:hover .caption{
    top:0;
}

#contact{
    background-color: #f7f7f7;
}

.contactImg {
  background-image: url(../images/contact.jpeg);
  width: 100%;
  height: 450px;
  background-size: cover;
}

.contactImg .overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}
.con-btn{
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
    padding: .5rem 1.2rem;
    border-radius: 10px;
}

.con-btn:hover{
    background-color: #FF4858;
    border:1px solid #FF4858;
}
i{
    color: #f44336;
}
.top-100 {
    top: 100%!important;
    margin-left: 40px;
}